/*styling the navigation bar*/
#navigation{

	background-color: #eeeeee;
	
}

#navigation>div{

	padding:3px;
	margin:0 5px 5px 40px;
	font-size:30px;
	height:20px;
	display:inline;

}

body{
	background-color:#777777 !important;
}
body>div>div{

	padding:0;
}

/*styling header content*/




header>h1{

	margin:20px 0 0 0;
}

/*style main content*/
section{
	text-align:center;
	margin:50px;
	padding:5px;
	
	background-color:#cccccc;

}
div>button{

	display:inline;
}

li>a,#beef, #chicken,#sushi{
	padding:0 !important;
	margin:0 !important;
	

}
hr{
	margin:5px;
	
}

